<div ng-app='app'>
	<nav>
        <a ui-sref="home">Home</a> |
        <a ui-sref="before">Before</a> |
        <a ui-sref="fake">Fake</a> |
        <a ui-sref="after">After</a> | 
        <a ui-sref="share">Share</a> |
        <a ui-sref="login" ng-click="logout()">Log in</a>
    </nav>
    <div ui-view>

    </div>
</div>
