<header>
	<h1>Step 1</h1>
	<h2>Let's add your "before" photo</h2>
</header>
<main>

<!-- When you click Take Photo, Camera should appear with option to Snap Photo-->
	<div class="before-picture" ng-if="showPhotoOptions">
		<div class="button-area">
			<button class="takePic" ng-click="takePhoto()">Take a photo</button>
			<p class="option">Or, if you prefer...</p>
			<label class="uploadPic">
	    		<input type="file" ng-file-select ng-model="files">
	    		Choose a photo to upload
			</label>
		</div>
	</div>

<!-- When you click Snap Photo button the webcam view and Snap Photo button should disappear--> 

	<div class="camera" ng-if="showWebcam" ng-cloak>
		<div class="dashed-container">Webcam</div>
		<button class="snap" ng-click="snapShutter()">Snap photo</button>
	</div>

<!-- Then the image should appear with options to accept or retry--> 

	<div class="before-photo" ng-if="showAcceptOptions" ng-cloak>
		<div class="dashed-container">The Stored Image</div>
		<div class="button-container">
			<button class="retry" ng-click="retry()">Retry</button>
			<button class="accept" ng-click="accept()" ui-sref="after">Accept</button>
		</div>
	</div>
	
</main>