.frame {
	display: inline-block;
	padding: 16px;
}

.saved-before-image-placeholder {
	display: inline-block;
	margin: 15px auto;
	width: 237px;
	height: 200px;
	border: 4px dashed #ddd;
	border-radius: 3px;
	padding: 45px 30px;
	float: left;
}

.after-options {
	display: inline-block;
	margin: 15px auto;
	width: 237px;
	height: 200px;
	border: 4px dashed #ddd;
	border-radius: 3px;
	padding: 45px 30px;
	float: left;
}

.after-webcam {
	float: left;
}
.after-webcam-placeholder, {
	display: inline-block;
	margin: 15px auto;
	width: 237px;
	height: 200px;
	border: 4px dashed #ddd;
	border-radius: 3px;
	padding: 45px 30px;
}

.after-webcam .snap {
	display: block;
	margin: 0 auto;
}

.saved-after-image-placeholder {
	display: inline-block;
	float: left;
	margin: 15px auto;
}

.after-photo {
	display:inline-block;
	width: 237px;
	height: 200px;
	border: 4px dashed #ddd;
	border-radius: 3px;
	padding: 45px 30px;
}

.button-container {
	display: block;
}

.after-snap {
	display:inline-block;
	background-color: blue;
	float: left;
}

.reminder {
	font-size: 1em;
	color: #2895f1;
}


// .reminder-link {
// 	color: blue;
// 	text-decoration: underline;
// }
