.shared-before-image-placeholder, .shared-after-image-placeholder {
	float: left;
	margin: 0 auto;
	width: 237px;
	height: 200px;
	border: 4px dashed #ddd;
	border-radius: 3px;
	padding: 45px 30px;
}
