<header>
	<div class="step">Step 2</div>
	<div class="instruction">Add your "after" photo now or <a class="reminder" ng-href="#/after" ng-click="setReminder = true">or set a reminder to take it later...</a></div>
</header>

<!-- When you arrive on page, your before photo should appear -->

<div class="frame">

	<div class="saved-before-image-placeholder" ng-cloak>
        Before
        <img ng-src="{{beforePhotoURL}}" class="before-image" alt="before picture">
    </div>

	<div class="after-options" ng-show="showAfterPhotoOptions">
		<div class="button-area">
			<button class="takePic" ng-click="takeAfterPhoto()">Take your 'after' photo</button>
			<p class="option">Or, if you prefer...</p>
			<label class="uploadPic">
                <input type="file" ng-file-select ng-file-change="upload($files)" ng-click="showProgressBar()">
	    		Choose a photo to upload
			</label>
		</div>
	</div>

	<div class="after-webcam" ng-show="showAfterWebcam" ng-cloak>
		<div id="webcam_window" class="after-webcam-placeholder">Webcam Placeholder</div>
		<button class="snap" ng-click="snapAfterShutter()">Snap photo</button>
	</div>

	<div class="saved-after-image-placeholder" ng-show="showAfterAcceptOptions" ng-cloak>
        <figure class="draft-image-placeholder">
                After
                <img ng-src="{{afterPhotoURL}}" class="before-image" alt="after picture">
                <figcaption>
                    <div class="day">Day N</div>
                    <div class="date">{{date | date: 'mediumDate'}}</div>
                </figcaption>
        </figure>
        <!-- As the image uploads there should be a progress bar -->
        <div class="progress-bar-container" ng-if="progressBar && progressPercentage < 100">
            <div class="progress-text">Upload progress:</div>
            <div class="progress-bar-wrapper">
                <div class="progress-bar">
                    <div class="progress" style="width:{{progressPercentage}}%"></div>
                </div>
            </div>
            <div class="percentage">{{progressPercentage}}%</div>
        </div>
        <div class="button-container">
			<button class="retry" ng-click="retryAfter()">Retry</button>
			<button class="accept" ng-click="accept()" ui-sref="share">Accept</button>
		</div>
	</div>

</div>

<!-- Reminder option -->

<div ng-show="setReminder === true">
        <p>We'll send you an email reminder</p>
        When: <select class='days'>
            <option value="7">In 7 days</option>
            <option value="14">In 14 days</option>
            <option value="30">In 30 days</option>
            <option value="60">In 60 days</option>
            <option value="90">In 90 days</option>
        </select>
        <button class="remind">Remind Me</button>
</div>





