<header>
	<div class="step">Step 2</div>
	<div class="instruction">Let's add your "after" photo</div>
</header>

<!-- When you arrive on page, your before photo should appear -->

<div class="frame">

	<div class="before-photo" ng-cloak>
		<div class="dashed-container">The Stored Before Image</div>
	</div>

	<div class="after-camera" ng-if="showAfterPhotoOptions">
		<div class="button-area">
			<button class="takePic" ng-click="takeAfterPhoto()">Take a photo</button>
			<p class="option">Or, if you prefer...</p>
			<label class="uploadPic">
	    		<input type="file" ng-file-select ng-model="files">
	    		Choose a photo to upload
			</label>
		</div>
	</div>

	<div class="after-snap" ng-if="showAfterWebcam" ng-cloak>
		<div class="dashed-container">Webcam</div>
		<button class="snap" ng-click="snapAfterShutter()">Snap photo</button>
	</div>

	<div class="after-photo" ng-if="showAfterAcceptOptions" ng-cloak>
		<div class="dashed-container" id="framed">The Hidden Stored Image</div>
		<div class="button-container">
			<button class="retry" ng-click="retryAfter()">Retry</button>
			<button class="accept" ng-click="accept()" ui-sref="share">Accept</button>
		</div>
	</div>

</div>

<!-- Reminder option -->

<p><a class="reminder" ng-href="#/after" ng-click="setReminder = true">or get a reminder to take it later...</a></p>

<div ng-if="setReminder === true">
        <p>We'll send you an email reminder</p>
        When: <select class='days'>
            <option value="7">In 7 days</option>
            <option value="14">In 14 days</option>
            <option value="30">In 30 days</option>
            <option value="60">In 60 days</option>
            <option value="90">In 90 days</option>
        </select>
        <button class="remind">Remind Me</button>
</div>



	
	