<main>
    <header>
        <div class="logo">picSumo</div>
        <div class="tagline">The easiest way to take and store your progress pics.</div>
    </header>
    <section class="user-form">
        <form class="signup" ng-submit="changePassword(credentials)" novalidate>
            <p class="error" ng-if="errorMessage" ng-bind="errorMessage.summary"></p>
            <!--p ng-repeat="errorMessage in error.generic" ng-bind="errorMessage"></p-->
            <label ng-class="error.password ? 'error' : ''">
                <input type="password" placeholder="Create a password" ng-model="credentials.password">
                <p class="error" ng-bind="error.password"></p>
            </label>
            <label ng-class="error.password ? 'error' : ''">
                <input type="password" placeholder="Confirm new password" ng-model="credentials.passwordConfirm">
                <p class="error" ng-show="credentials.password != credentials.passwordConfirm">Fields do not match!</p>
            </label>
            <button type="submit">Change Password</button>
        </form>
    </section>
</main>
