<div class="up-buttons">
						<div ng-file-select ng-model="files" class="upload-button"
							 ng-multiple="false" ng-accept="'*.pdf,*.jpg,*.png'" ng-model-rejected="rejFiles"
							 tabindex="0">Attach an Image or PDF</div>
</div>

		<ul style="clear:both" ng-show="rejFiles.length > 0" class="response">
			<li class="sel-file" ng-repeat="f in rejFiles">
				Rejected file: {{f.name}} - size: {{f.size}}B - type: {{f.type}}
			</li>
		</ul>
		<ul style="clear:both" ng-show="files.length > 0" class="response">
			<li class="sel-file" ng-repeat="f in files">
				<img ng-show="f.dataUrl" ng-src="{{f.dataUrl}}" class="thumb">
				<span class="progress" ng-show="f.progress >= 0">						
					<div style="width:{{f.progress}}%">{{f.progress}}%</div>
				</span>				
				<button class="button" ng-click="f.upload.abort();f.upload.aborted=true" 
						ng-show="f.upload != null && f.progress < 100 && !f.upload.aborted">Abort</button>
				{{f.name}} - size: {{f.size}}B - type: {{f.type}}
				<a ng-show="f.result" href="javascript:void(0)" ng-click="f.showDetail = !f.showDetail">details</a>
				<div ng-show="f.showDetail">
					<br/>
					<div data-ng-show="f.result.result == null">{{f.result}}</div>
					<ul>
						<li ng-repeat="item in f.result.result">
							<div data-ng-show="item.name">file name: {{item.name}}</div>
							<div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
							<div data-ng-show="item.size">size on the serve: {{item.size}}</div>
							<div data-ng-show="item.value">value: {{item.value}}</div>
						</li>
					</ul>
					<div data-ng-show="f.result.requestHeaders" class="reqh">request headers: {{f.result.requestHeaders}}</div>
				</div>
			</li>
		</ul>

		<br/>
		<div style="clear:both" class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
	</div>