
<main>
    <header>
        <div class="logo">picSumo</div>
        <div class="tagline">The easiest way to take and store your progress pics.</div>
    </header>
    <section class="user-form">
        <form class="signup" ng-submit="register(credentials)" novalidate>
            <p ng-repeat="errorMessage in error.generic" ng-bind="errorMessage"></p>
            <label ng-class="error.identifier ? 'error' : ''">
                <input type="text" placeholder="Enter your email" ng-model="credentials.identifier">
                <p class="error" ng-bind="error.identifier"></p>
            </label>
            <label ng-class="error.password ? 'error' : ''">
                <input type="password" placeholder="Create a password" ng-model="credentials.password">
                <p class="error" ng-bind="error.password"><p>
            </label>
            <button type="submit">Sign Up</button>
        </form>
    </section>
</main>