<main>

<h1>Please login</h1>
<section class="user-form">
	<form class="signup" ng-submit="login(credentials)">
		<label ng-class="error.identifier ? 'error' : ''">
			<input type="text" placeholder="Email" ng-model="credentials.identifier">
			<p class="error" ng-bind="error.identifier"></p>
		</label>
		<label ng-class="error.password ? 'error' : ''">
			<input type="password" placeholder="Password" ng-model="credentials.password">
			<p class="error" ng-bind="error.password"></p>
		</label>
		<button type="submit">Log in</button>
	</form>
</section>
</main>
