<main>
    <header>
        <div class="logo">picSumo</div>
        <div class="tagline">The easiest way to take and store your progress pics.</div>
    </header>
    <section class="user-form">
        <form class="signup" ng-submit="resetPassword(credentials)" novalidate>
            <p class="error" ng-if="errorMessage" ng-bind="errorMessage.summary"></p>
            <!--p ng-repeat="errorMessage in error.generic" ng-bind="errorMessage"></p-->
            <label ng-class="error.identifier ? 'error' : ''">
                <input type="text" placeholder="Enter your email" ng-model="credentials.identifier">
                <p class="error" ng-bind="error.identifier"></p>
            </label>
            <button type="submit">Reset Password</button>
        </form>
    </section>
</main>
