
<h1>Edit your account</h1>

<hr />

<h2>Your avatar</h2>

<p id="status">Please select a file</p>

    {{ uploadStatus }}

    <div class="before-options" ng-show="showPhotoOptions">
        <div class="button-area">
            <label class="uploadPic">
                <input id="files" type="file" ng-file-select ng-file-change="upload($files)" ng-click="showProgressBar()">
                Choose a photo to upload
            </label>
        </div>
    </div>

    <div ng-show="showAcceptOptions" ng-cloak>
            <figure class="draft-image-placeholder">
                Before
                <img ng-src="{{photoURL}}" class="before-image" alt="before picture">
                <figcaption>
                    <div class="day">Day 1</div>
                    <div class="date">{{date | date: 'mediumDate'}}</div>
                </figcaption>
            </figure>
            <!-- As the image uploads there should be a progress bar -->
            <div class="progress-bar-container" ng-if="progressBar && progressPercentage < 100">
                <div class="progress-text">Upload progress:</div>
                <div class="progress-bar-wrapper">
                    <div class="progress-bar">
                        <div class="progress" style="width:{{progressPercentage}}%"></div>
                    </div>
                </div>
                <div class="percentage">{{progressPercentage}}%</div>
            </div>
            <!--The user has the option to accept the photo or take another. -->
            <div class="button-container">
                <button class="retry" ng-click="retry()">Retry</button>
                <button class="accept" ng-click="accept()" ui-sref="after">Accept</button>
            </div>
        </div>


<h2>Your information</h2>

<form method="POST" action="upload/upload_photo_url">
    <input type="hidden" id="photo_url" name="photo_url" ng-model="photo_url" />
    <hr />
    <h2>Save changes</h2>

    <input type="submit" value="Update profile" />
</form>

