<header>
	<div class="step">Step 3</div>
	<div class="instruction">Share your photo or <a class="reminder" ng-href="#/share"> download it</a>.</div>
</header>

<div class="frame">
	<div class="shared-before-image-placeholder" ng-cloak>
        Before
        <img ng-src="{{beforePhotoURL}}" class="before-image" alt="before picture">
    </div>
	<div class="shared-after-image-placeholder" ng-cloak>
        After
        <img ng-src="{{afterPhotoURL}}" class="before-image" alt="after picture">
    </div>
</div>
